.alerta{
  display: inline-block;
  color: rgb(206, 27, 27);
  font-weight: bold;
  border: 1px solid rgb(206, 27, 27);
  margin-left: 10px;
  font-size: 13px;
}

.aluno{
  display: flex;
  margin: 0 10px 10px 0;
  text-decoration: underline;
}

